@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


:root {
    --red : #901C1C;
    --orange : #D3573C;
}

body, html {
    margin: 0;
    padding: 1em;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    box-sizing: border-box;
}

a { text-decoration: none;}

header, main { padding: 1em;}
header { 
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin-right: 50px;
}

nav a, .tag-list span {
    color:var(--red);
    font-size: 0.9em;
    font-weight: 500;
    padding: 3px 5px;
    margin: 0px 2px;
    border: 0.5px solid #C4C4C4 ;
    border-radius: 100px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    top: -6.5em;
}

h1 {
    width: 25%;
    font-size: 2em;
    font-weight: 400;
    color:var(--red);
}

#photographers-list {
    width: 100%;
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3em 0em;
}

article { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


article img {
    border-radius: 100px;
    object-fit: cover;
}

article span, .location, .tag-list { font-size: 0.95em; line-height: 1.5em; margin: 2px 0px}

.location {
    font-size: 0.95em;
    color: var(--red)
}

.price { color: #757575}

#photographers-list article h2{
    color: var(--orange);
    font-size: 2em;
    font-weight: 400;
    margin: 15px 0px 0px 0px;
}

.tag-list span { color: var(--red)}





/** Responsive **/
@media screen and (max-width: 630px) {

     body { padding: 0.7em}

    header, main { margin: 0; padding: 0}
    header { 
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    header img { width: 80%;}

    nav { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin: 2em 0 2em 0;
    }

    nav a { margin-bottom: 5px;}

    main { top: 0 }
    h1 {text-align: center; font-size: 1em; position: relative; top: -160px; width: 44%; margin: 0}

    #photographers-list {
        grid-template-columns: 100%;
        grid-template-rows: 350px;
        margin-top: 0;
    }
}
