@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


:root {
    --red : #901C1C;
    --orange : #D3573C;
    --salmon: #DB8876;
    --lightgray : #FAFAFA;
    --shadow: 0 4px 4px 0 rgba(0,0,0,25%);
}

:focus-visible { outline: 2px solid var(--red) }

body, html {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a { text-decoration: none;}

header, main { padding: 1em;}
header { 
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin-right: 50px;
}

nav a, .tag-list .tags {
    color:var(--red);
    font-size: 0.9em;
    font-weight: 500;
    padding: 3px 5px;
    margin: 0px 2px;
    border: 0.5px solid #C4C4C4 ;
    border-radius: 100px;
}

#scroll-block, #scroll-btn { display: flex ; align-items: center; justify-content: center;}

#scroll-block { width: 100%; position: sticky; top: 10px; z-index: 3;}

#scroll-btn { 
    position: absolute; 
    top: 0; 
    width: 180px; 
    height: 0px;
    overflow: hidden;
    background-color: var(--salmon); 
    border-radius: 5px;
    text-align: center; 
    font-weight: 700;
    color: #000;
    opacity: 0;
    transition: opacity 0.2s ;
}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative;
    top: -6.5em;
}

h1 {
    width: 25%;
    font-size: 2em;
    font-weight: 400;
    color:var(--red);
}

#photographers-list, #medias__list {
    width: 100%;
    margin-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 3em 0em;
}

article { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.photographer__block img, .block__col img {
    border-radius: 100px;
    object-fit: cover;
    box-shadow: var(--shadow);
}

article span, .location, .tag-list { font-size: 0.95em; line-height: 1.5em; margin: 2px 0px}

.location {
    font-size: 0.95em;
    color: var(--red)
}

.price { color: #757575}

#photographers-list article h2{
    color: var(--orange);
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin: 15px 0px 0px 0px;
}

.tag-list { display: flex;}
.tag-list span { color: var(--red)}




/** PAGE PHOTOGRAPHE **/
#photographer__block {
    width: 100%;
    background-color: var(--lightgray);
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.block__col { width: 30%; display: flex; flex-direction: column;}
#photographer__info { min-width: 30%;}
#photographer__name { width: 100%; font-size: 4em; color: var(--orange); margin: 0}
#location-tagline { display: flex; flex-direction: column;}
.location {font-size: 2.4em;}
.tagline { color: #525252; font-size: 1.1em}
.tag-list { margin-top: 20px}

#contact-btn {
    background-color: var(--red);
    width: 170px;
    height: 70px;
    color: #ffff;
    border-radius: 5px;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
}

#block__img { align-items: flex-end; justify-content: center;}

aside {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 10%;
    width: 300px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--salmon);
    padding: 20px;
    font-weight: 700;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}

aside i { margin: 0px 5px}

select {width: 170px; font-size: 1.1em; height: 60px; display: flex; align-items: center; margin: 0px 20px}
select, option { border: none; }
#block__filter { height: auto; display: flex; align-items: center; padding: 30px 0px;}
#block__filter span { font-weight: 700; font-size: 1.1em;}
#toggle__filters { background-color: var(--red); border-radius: 5px; padding: 5px; box-sizing: border-box; color: #ffff}

#medias__list { margin-top: 0px;}
#medias__list img { object-fit: cover; border-radius: 5px;}
.image__meta { width: 350px; font-size: 1.2em; color: var(--red); display: flex; justify-content: space-between; margin-top: 10px}



/*  CONTACT FORM */
#form__background {
    display: none;
    width: 100%;
    height: 100vh;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgba(196,196,196,40%);
    align-items: center;
    justify-content: center;
}

#form__modal {
    background-color: var(--salmon);
    border-radius: 5px;
    padding: 1em;
    width: 40%;
    height: 90%;
}

#form__modal h1 { color:#000; font-size: 3em; width: 100%;}

form, input[type="text"], textarea { width: 100%;}
form input { height: 38px}
form input, textarea { border: none; border-radius: 5px;}
form label { font-size: 1.5em; color: #312E2E;}

input[type="submit"]  { cursor: pointer; background-color: var(--red); color: #ffff; padding: 2px; height: 50px; width: 170px; font-size: 1.2em; margin-top: 20px}

#close-form {
    position:absolute;
    top: 0;
    right: 30%;
    margin: 10px 10px;
    font-size: 60px;
    font-weight: 400;
    color: #ffff;
    font-weight: 900;
    cursor: pointer;
}



/*LIGHTBOX*/
#lightbox {
    display: none;
    position: fixed;
    z-index: 3;
    padding: 10px 62px 0px 62px;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    background-color: #ffff;
}

.close {
    color: var(--red);
    position: fixed;
    top: 0px;
    right: 25px;
    z-index: 10;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
  }

  #modal__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 0 0 0 0;
    width: 80%;
    height: 100%;
    max-width: 1200px;
  }

  .slide {
    display: none;
    height: 95%;
    width: 80%;
    overflow: hidden
  }

  .slide span { font-size: 1.5em; position: relative; bottom: 0px; color: var(--red)}

  .slide__media { max-width: 100%; height: 90%;}
  .media__block { display: flex; height: 90%; align-items: center;}
  .media__block img { object-fit: cover;} 

  .previous, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: var(--red);
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  left: 85%;
  border-radius: 3px 0 0 3px;
}


/** Responsive **/
@media screen and (max-width: 630px) {
    body { padding: 0.7em}

    header, main { margin: 0; padding: 0}
    header { 
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    header img { width: 80%;}

    nav { 
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        margin: 2em 0 2em 0;
    }

    nav a { margin-bottom: 5px;}

    #main { position: absolute; top:0; padding: 2em 0; min-width: 85%; max-width: 100%;}
    #main h1 {text-align: center; font-size: 1em; position: relative; top: -10px; right: -20px; width: 46%; margin: 0}

    #photographers-list {
        grid-template-columns: 100%;
        grid-template-rows: 350px;
        margin-top: 170px;
    }

    #photographer__block { background-color: #ffff; padding: 3em 0em}
    #photographer__block h1 { font-size: 2em; text-align: left;}
    #photographer__info { min-width: 60%;}
    #photographer__block span, .tag-list { font-size: 0.8em;}
    #photographer__info .tag-list { margin-top: 30px}
    #photographer-block #photographer__contact{ display: none  }
    #block__img { justify-content: flex-start;}
    #block__img img { width: 100px; height: 100px;}

    #block__filter { display: none}

    #medias__list {
        grid-template-columns: 100%;
        grid-template-rows: 250px;
        margin-top: 0px;
    }

    #medias__list img { height: 190px; justify-content: center;}
}
